:root {
    --background-color: #f0f0f0;
    --text-color: #333;
    --button-bg-color: #4CAF50;
    --button-text-color: white;
}

[data-theme='dark'] {
    --background-color: #333;
    --text-color: #f0f0f0;
    --button-bg-color: #555;
    --button-text-color: white;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    text-align: center;
}

.theme-switcher-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.numbers {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
